<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3

    <title>Kinect Server</title>
	<style>
		body{
			background: black;
			margin: 0;
			font-family: sans-serif;
		}
	</style>

    <link rel="stylesheet" href="https://fonts.googleapis.com/fonts">
  </head>
  <body>
	<h1 style="text-align: center; color: white;">Kinect Recording in Progress </h1>
	<img src="{{url_for('video')}}" width = "50%" />
  </body>
</html>
